/**
 * index.scss
 * - Add any styles you want here!
 */

body {
  background: #eeeeee;
  margin: 10%;
}

.interaction {
  background: #eeeeee;
  padding-bottom: 5%;
}

h1 {
  color: #614c92;
  text-align: center;
  font-size: 2em;
  margin: 12%;
  font-family: 'Sonsie One';
  font-weight: lighter;
}

h2 {
  font-family: 'Roboto Slab';
}

#user-fullname-tickets {
  color: #666666;
  margin-top: 5%;
  text-align: left;
}

label {
  font-family: 'Roboto Slab';
  font-weight: lighter;
  color: #555555;
}

.login-button,
.btn-xl {
  font-family: 'Roboto Slab';
  font-weight: lighter;
  color: #555555;
  margin-top: 7%;
}

.btn-xl {
  padding: 1%;
}

.fa {
  margin-left: 2%;
  font-size: 1.25em;
}

.last-button {
  margin-bottom: 7%;
  margin-top: 10%;
}

.btn-info {
  background: #999999;
  color: #000000;
  border: 1px solid #000000;
}

.btn-file {
  width: 80%;
  margin: 0 auto;
  margin-left: 10%;
  margin-top: 10%;
  background: #614c92;
  color: #ffffff;
}

.btn-info:hover {
  padding: 1.5%;
  background: #614c92;
  color: #ffffff;
  border: 1px solid #000000;
}

.btn-file:hover {
  padding: 2%;
  background: #999999;
  color: #000000;
  border: 1px solid #000000;
}

.btn-upload {
  background: #614c92;
  color: #ffffff;
  border: 1px solid #000000;
  width: 50%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

.btn-upload:hover {
  background: #999999;
  color: #000000;
  border: 1px solid #000000;
  padding: 1.5%;
}

.rights {
  font-size: 0.75em;
  color: #999999;
  border-top: 1px dotted #888888;
  margin-top: 5%;
  padding-top: 1%;
}

.home-logo {
  font-size: 5em;
  color: #000000;
  margin-left: 20%;
  border: 4px solid #999999;
  border-radius: 50%;
  padding: 5%;
}

.home-logo:hover {
  font-size: 4.75em;
  border: 4px solid #614c92;
  color: #666666;
}

table {
  margin: 0 auto;
  margin-left: 10%;
  margin-top: 5%;
}

#ticket_desc {
  width: 80%;
}

#ticket_assigned_to {
  width: 30%;
}

#ticket_id,
#ticket_date {
  width: 50%;
}

.dropdown-toggle {
  background: #666666;
  border: 1px solid #999999;
  width: 100%;
}

#status-open {
  background: orange;
}

#status-re-assign {
  background: red;
}

#status-closed {
  background: green;
}

.ticket_comment {
  width: 100%;
}

#new_user_form {
  margin: 0;
  margin-top: 10%;
}

.alert-success {
  padding: 5%;
  border: 1px dotted #614c92;
  font-family: 'Roboto Slab';
  text-transform: uppercase;
  font-size: 1.5em;
  margin-top: 10%;
  width: 100%;
  text-align: center;
}

.table-row:hover {
  font-weight: bolder;
  font-size: 1.1em;
  color: #614c92;
  cursor: pointer;
}