<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>admin_tasks_home</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Sonsie+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="styles/index.processed.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-4 col-sm-4 col-xs-4"><h1>Workflow ~~ </h1></div>
      <div class="col-md-3 col-sm-3 col-xs-3"></div>     
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="admin_create_and_view_ticket.html"><i class="fa fa-home home-logo"></i></a></div>
      <div class="col-md-3 col-sm-2 col-xs-2"></div>     
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="admin_create_new_user.html" class="btn btn-info btn-xl btn-block" role="button" >Create User <i class="fa fa-user"></i><i class="fa fa-plus"></i></a></div>
       <div class="col-md-2 col-sm-2 col-xs-2"></div>    
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="admin_view_users.html" class="btn btn-info btn-xl btn-block" role="button" >View Users<i class="fa fa-users"></i><i class="fa fa-eye"></i></a></div>
      <div class="col-md-2 col-sm-2 col-xs-2"></div>     
    </div>
     <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="#" class="btn btn-info btn-xl btn-block disabled" role="button">Reports (Disabled currently)<i class="fa fa-file"></i></a></div>
      <div class="col-md-2 col-sm-2 col-xs-2"></div>     
    </div>
    
    <div class="row">
        <div class="col-md-3 col-md-3 col-xs-3"></div>
        <div class="col-md-6 col-md-6 col-xs-6">
          <p class="rights">Website by BLRF</p>
        </div>
        <div class="col-md-2 col-md-2 col-xs-2"></div>
      </div>
    
  </div>
  </body>