<!DOCTYPE html>
<html lang="en">
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>get_and_view_ticket_home</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Sonsie+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="styles/index.processed.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-4 col-sm-4 col-xs-4"><h1>Workflow ~~ </h1></div>
      <div class="col-md-3 col-sm-3 col-xs-3"></div>     
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="user_get_and_view_tickets.html"><i class="fa fa-home home-logo"></i></a></div>
      <div class="col-md-3 col-sm-2 col-xs-2"></div>     
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="user_get_single_ticket.html" class="btn btn-info btn-xl btn-block" role="button" >Get New Ticket </a></div>
       <div class="col-md-2 col-sm-2 col-xs-2"></div>    
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="view_single_user.html" class="last-button btn btn-info btn-xl btn-block" role="button" >View My Tickets</a></div>
      <div class="col-md-2 col-sm-2 col-xs-2"></div>     
    </div>
    <div class="row">
        <div class="col-md-3 col-md-3 col-xs-3"></div>
        <div class="col-md-6 col-md-6 col-xs-6">
          <p class="rights">Website by BLRF</p>
        </div>
        <div class="col-md-2 col-md-2 col-xs-2"></div>
      </div>
    
  </div>
  </body>