<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Tickets</title>
</head>
<body>
<h1>View Tickets</h1>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/10.1.0/ag-grid.js"></script>
<script>

(function() {

    document.addEventListener('DOMContentLoaded', function() {

        var gridDiv = document.querySelector('#myGrid');

        var gridOptions = {
            columnDefs: [
                {headerName: "Ticket Id", field: "id"},
                {headerName: "Ticket Name", field: "name"},
                {headerName: "Ticket Status", field: "status"},
                {headerName: "Assigned To", field: "assignedTo"}
            ],
            enableFilter: true,
            pagination:true,




        };

        new agGrid.Grid(gridDiv, gridOptions);

        jsonLoad( function(data) {
            gridDiv.style.width = '800px';
            gridDiv.style.height = '200px';
            gridOptions.api.doLayout();
            gridOptions.api.setRowData(data);
            gridOptions.api.sizeColumnsToFit();
            enableFilter: true;
        });
    });

})();


function jsonLoad(callback) {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/tickets');
    xhr.responseType = 'json';

    xhr.onload = function() {
        if(this.status == 200) {
            callback(this.response);
        }
    };

    xhr.onerror = function() {
        console.log('loading data error');
    };

    xhr.send();
}

</script>
<!--script src="loadData.js"></script-->
<div id="myGrid" style="height: 115px;width:500px" class="ag-blue"></div>

        <div>
            <button onclick="window.location.href='/'">Go back to Home page</button>
        </div>
</body>
</html>


</body>
</html>