<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en"/>
<head>
  
  <!--  Meta  -->
  <meta charset="UTF-8" />
  <title>Create New Tickets</title>
  
  <!--  Styles  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Sonsie+One" rel="stylesheet"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/static/css/index.processed.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-4 col-sm-4 col-xs-4"><h1>Workflow ~~ </h1></div>
      <div class="col-md-3 col-sm-3 col-xs-3"></div>     
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4"></div>
      <div class="col-md-6 col-sm-6 col-xs-6"><a href="/admintasks"><i class="fa fa-home home-logo"></i></a></div>
      <div class="col-md-3 col-sm-2 col-xs-2"></div>
    </div>
    <div id="result" class="hide alert alert-success"></div>
    <form method="POST" enctype="multipart/form-data" id="fileUploadForm">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-6">
          <label id="uploadPath" class="show btn btn-file btn-info"><input type="file" id="fileUpload" name="file" onChange="validateFileExtension(this.value)"/></label>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-6"><button type="submit" id="uploadFile" class="show last-button btn btn-info btn-block btn-xl btn-upload">Upload</button></div>
        <div class="col-md-2 col-sm-2 col-xs-2"></div>
      </div>
    </form>
    <div class="row">
        <div class="col-md-3 col-md-3 col-xs-3"></div>
        <div class="col-md-6 col-md-6 col-xs-6">
          <p class="rights">Website by BLRF</p>
        </div>
        <div class="col-md-2 col-md-2 col-xs-2"></div>
    </div>
  </div>
  </body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="/static/scripts/index.js"></script>
</html>